{{ attach_library('tmt_eu_cookie_compliance/toggle') }}
<fieldset class="tmt-eu-cookie-compliance-toggle {{ classes|map(c => c|clean_class)|join(' ') }}">
  <legend>{% trans %}Cookie settings{% endtrans %}</legend>
  <label>
    <input type="checkbox" name="tmt-eu-cookie-compliance-toggle" value="value">
      {% if label %}
        {{ label }}
      {% else %}
        {% trans %}Do Not Sell or Share My Personal Information{% endtrans %}
      {% endif %}
  </label>
</fieldset>
